@using ManewryMorskie.GUI.Util
@inject BoardTransformService BoardTransform

@implements IDisposable

<li class="nav-item dropdown">
    <button type="button" class="btn-outline-light btn mx-2"
            @onclick="async () => await BoardTransform.SetOrientation(!BoardTransform.CurrentState.IsHorizontal)">
        <span class="oi oi-loop-circular"></span>
        <span class="d-none d-lg-inline">  Obróć</span>
    </button>
</li>
<li class="nav-item dropdown">
    <div class="btn-group mx-2">
        <button type="button" class="btn btn-outline-light @(CannotZoomOut?"disabled":string.Empty)"
                @onclick="async () => await BoardTransform.ChangeZoom(-15)">
            <span class="oi oi-zoom-out"></span>
            <span class="d-none d-lg-inline"> Oddal</span>
        </button>
        <button type="button" class="btn btn-outline-light d-none d-sm-block" style="width:67px;"
                @onclick="async () => await BoardTransform.ChangeState(new ())">
            @BoardTransform.CurrentState.Zoom%
        </button>
        <button type="button" class="btn btn-outline-light @(CannotZoomIn?"disabled":string.Empty)"
                @onclick="async () => await BoardTransform.ChangeZoom(15)">
            <span class="oi oi-zoom-in"></span>
            <span class="d-none d-lg-inline"> Przybliż</span>
        </button>
    </div>
</li>

@code 
{
    private bool CannotZoomOut => BoardTransform.CurrentState.Zoom == BoardTransformService.MIN_ZOOM;
    private bool CannotZoomIn => BoardTransform.CurrentState.Zoom == BoardTransformService.MAX_ZOOM;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if(firstRender)
            BoardTransform.TransformationChanged += OnTransformationChanged;
    }

    private async Task OnTransformationChanged(BoardTransformations _)
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        BoardTransform.TransformationChanged -= OnTransformationChanged;
    }
}
