@inject GameService Game

<MyBSModal Id="instruction-modal" Header="Zasady gry">
    <Content>
        <div class="d-flex flex-column">
            <iframe style="min-height:520px" class="flex-grow" src="_content/ManewryMorskieRazor/texts/GameInstruction.html"></iframe>
        </div>
    </Content>
    <Footer>
        <a href="_content/ManewryMorskieRazor/texts/GameInstruction.html" target="_blank">
            Otwórz na nowej karcie
        </a>
    </Footer>
</MyBSModal>
<MyBSModal Id="table-modal" Header="Jednostki">
    <Content>
        <div class="d-flex flex-column">
            <iframe style="min-height:520px" class="flex-grow" src="_content/ManewryMorskieRazor/texts/UnitsPowerTable.html"></iframe>
        </div>
    </Content>
    <Footer>
        <a href="_content/ManewryMorskieRazor/texts/UnitsPowerTable.html" target="_blank">
            Otwórz na nowej karcie
        </a>
    </Footer>
</MyBSModal>
<OnlineGameModal />


<BSNavbar Color="BSColor.Dark" IsDark="true">
    <form class="container-fluid flex-row justify-content-between">
        <BSNavbarBrand MarginLeftAndRight="Margins.ExtraSmall" Class="d-none d-md-inline">Manewry Morskie</BSNavbarBrand>
        <BSNav Class="d-flex flex-row">
            <BSNavItem IsDropdown="true">
                <BSButtonGroup DropdownPlacement="Placement.BottomEnd">
                    <BSDropdown IsDiv="true" Class="dropdown-menu-dark">
                        <Toggler>
                            <BSToggle IsButton="true" IsOutlined="true" Color="BSColor.Light" MarginLeftAndRight="Margins.Small">
                                <span class="oi oi-media-play"></span>
                                <span class="d-none d-md-inline">  Nowa Gra</span>
                            </BSToggle>
                        </Toggler>
                        <Content>
                            <BSDropdownItem @onclick="async () => await StartLocalGame()">Hot Seat</BSDropdownItem>
                            <BSDropdownItem Attributes='ToggleAtributes("#online-game-modal")'>Online</BSDropdownItem>
                        </Content>
                    </BSDropdown>
                </BSButtonGroup>
            </BSNavItem> 
            <BSNavItem IsDropdown="true">
                <BSButtonGroup DropdownPlacement="Placement.BottomEnd">
                    <BSDropdown IsDiv="true" Class="dropdown-menu-dark">
                        <Toggler>
                            <BSToggle IsButton="true" IsOutlined="true" Color="BSColor.Light" MarginLeftAndRight="Margins.Small">
                                <span class="oi oi-question-mark"></span>
                                <span class="d-none d-md-inline">  Zasady</span>
                            </BSToggle>
                        </Toggler>
                        <Content>
                            <BSDropdownItem Attributes='ToggleAtributes("#instruction-modal")'>Zasady gry</BSDropdownItem>
                            <BSDropdownItem Attributes='ToggleAtributes("#table-modal")'>Tabela jednostek</BSDropdownItem>
                        </Content>
                    </BSDropdown>
                </BSButtonGroup>
            </BSNavItem>
            <BoardTransformTools />
        </BSNav>
    </form>
</BSNavbar>

@code 
{
    private Dictionary<string, object> ToggleAtributes(string dataBsTargetValue)
    {
        return new() { { "data-bs-toggle", "modal" }, { "data-bs-target", dataBsTargetValue } };
    }

    private async ValueTask StartLocalGame()
    {
        await Game.SetUpLocal();
        await Game.RunGame();
    }
}
