@inject GameService Game
@inject BoardTransformService BoardTransform

<MyBSModal Id="instruction-modal" Header="Zasady gry">
    <Content>
        <div class="d-flex flex-column">
            <iframe style="min-height:580px" class="flex-grow" src="_content/ManewryMorskieRazor/texts/GameInstruction.html"></iframe>
        </div>
    </Content>
</MyBSModal>
<MyBSModal Id="table-modal" Header="Jednostki">
    <Content>
        <div class="d-flex flex-column">
            <iframe style="min-height:580px" class="flex-grow" src="_content/ManewryMorskieRazor/texts/UnitsPowerTable.html"></iframe>
        </div>
    </Content>
</MyBSModal>

<BSNavbar Color="BSColor.Dark" IsDark="true">
    <form class="container-fluid flex-row justify-content-between">
        <BSNavbarBrand MarginLeftAndRight="Margins.ExtraSmall" Class="d-none d-md-inline">Manewry Morskie</BSNavbarBrand>
        <BSNav Class="d-flex flex-row">
            <BSNavItem IsDropdown="true">
                <BSButtonGroup DropdownPlacement="Placement.BottomEnd">
                    <BSDropdown IsDiv="true" Class="dropdown-menu-dark">
                        <Toggler>
                            <BSToggle IsButton="true" IsOutlined="true" Color="BSColor.Light" MarginLeftAndRight="Margins.Small">
                                <span class="oi oi-media-play"></span>
                                <span class="d-none d-md-inline">  Nowa Gra</span>
                            </BSToggle>
                        </Toggler>
                        <Content>
                            <BSDropdownItem @onclick="async () => await Game.RunGame()">Hot Seat</BSDropdownItem>
                            <BSDropdownItem IsDisabled="true">Online</BSDropdownItem>
                        </Content>
                    </BSDropdown>
                </BSButtonGroup>
            </BSNavItem> 
            <BSNavItem IsDropdown="true">
                <BSButtonGroup DropdownPlacement="Placement.BottomEnd">
                    <BSDropdown IsDiv="true" Class="dropdown-menu-dark">
                        <Toggler>
                            <BSToggle IsButton="true" IsOutlined="true" Color="BSColor.Light" MarginLeftAndRight="Margins.Small">
                                <span class="oi oi-question-mark"></span>
                                <span class="d-none d-md-inline">  Zasady</span>
                            </BSToggle>
                        </Toggler>
                        <Content>
                            <BSDropdownItem 
                                Attributes='new Dictionary<string, object>(){{"data-bs-toggle", "modal"}, {"data-bs-target", "#instruction-modal"}}'>
                                Zasady gry</BSDropdownItem>
                            <BSDropdownItem
                                Attributes='new Dictionary<string, object>(){{"data-bs-toggle", "modal"}, {"data-bs-target", "#table-modal"}}'>
                                Tabela jednostek</BSDropdownItem>
                        </Content>
                    </BSDropdown>
                </BSButtonGroup>
            </BSNavItem>
            <BSNavItem IsDropdown="true">
                    <BSButton IsOutlined="true" Color="BSColor.Light" MarginLeftAndRight="Margins.Small"
                        @onclick="async () => await BoardTransform.Rotate(!BoardTransform.Horizontal)">
                        <span class="oi oi-loop-circular"></span>
                        <span class="d-none d-lg-inline">  Obróć</span>
                    </BSButton>
            </BSNavItem>
            <BSNavItem IsDropdown="true">
                <BSButtonGroup MarginLeftAndRight="Margins.Small">
                    <BSButton Color="BSColor.Light" IsOutlined="true" @onclick="async () => await ChangeZoom(-15)" IsDisabled="@CanZoomOut">
                        <span class="oi oi-zoom-out"></span>
                        <span class="d-none d-lg-inline"> Oddal</span>
                    </BSButton>
                    <BSButton Color="BSColor.Light" IsOutlined="true" @onclick="async () => await ChangeZoom(DEFAULT_ZOOM-Zoom)">
                        @Zoom%
                    </BSButton>
                    <BSButton Color="BSColor.Light" IsOutlined="true" @onclick="async () => await ChangeZoom(15)" IsDisabled="@CannotZoomIn">
                        <span class="oi oi-zoom-in"></span>
                        <span class="d-none d-lg-inline"> Przybliż</span>
                    </BSButton>
                </BSButtonGroup>
            </BSNavItem>
        </BSNav>
    </form>
</BSNavbar>

@code 
{
    private const int MAX_ZOOM = 190;
    private const int MIN_ZOOM = 55;
    private const int DEFAULT_ZOOM = 100;

    public int Zoom { get; private set; } = DEFAULT_ZOOM;

    private bool CanZoomOut => Zoom == MIN_ZOOM;
    private bool CannotZoomIn => Zoom == MAX_ZOOM;

    public async ValueTask ChangeZoom(int step)
    {
        if(Zoom + step <= MAX_ZOOM && Zoom + step >= MIN_ZOOM)
        {
            Zoom += step;
            await BoardTransform.Zoom(Zoom);
        }
    }
}
