#game-bg {
    background-color: #6c757d;
    scrollbar-width: none;
}

#board {
    width: 740px;
    height: 1100px;
    background-image: url('Board.svg');
    margin-left: auto;
    margin-right: auto;

    border-width: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}

table
{
    table-layout: fixed;
    width: 720px;
}

.splash-screen {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #343a40;
    color: white;
    z-index: 1060;
    user-select: none;
}