@implements IDisposable

@inject BoardService BoardService

@if(pawn.HasValue)
{
    <div class="@PawnCss" title="@(pawn.Value.LabelIsHidden ? string.Empty : pawn.Value.Label)">
        @if(!pawn.Value.LabelIsHidden)
            @(pawn.Value.Label)
    </div>
}

@code {
    [Parameter]
    public CellLocation Location { get; set; }

    private Pawn? pawn;

    private string PawnCss
    {
        get
        {
            string result = $"pawn pawn-" + (pawn!.Value.Color == 0 ? "yellow" : "blue");

            if (pawn.Value.LabelIsHidden)
                result += (pawn.Value.IsBattery ? "-art" : "-ship");

            return result;
        }
    }

    protected override void OnInitialized()
    {
        BoardService[Location].PawnChanged += PlacePawn;
    }

    private async Task PlacePawn(Pawn? pawn)
    {
        await InvokeAsync(() =>
        {
            this.pawn = pawn;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        BoardService[Location].PawnChanged -= PlacePawn;
    }
}
